[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.5"


[packages]

datetime==4.3
gitignore_parser==0.0.8
docopt==0.6.2


[dev-packages]
